
body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--background-color);

	height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;

	-webkit-transition: opacity 200ms linear;
	-ms-transition: opacity 200ms linear;
	transition: opacity 200ms linear;
}

.layout {
	display: none;

	-webkit-transition: opacity 300ms linear;
	-ms-transition: opacity 200ms linear;
	transition: opacity 200ms linear;
}

.pointer-disabled {
    opacity: 0.3;
    pointer-events: none;
}


/* scrollbar */
::-webkit-scrollbar {
    border-radius: 6px;
    width: 4px;
}
::-webkit-scrollbar-track {
    background: #636262;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.no-scrollbar {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}
.no-scrollbar::-webkit-scrollbar {
    display: none !important;
    width: 0;
}


/* A tag links */
a {
    color: var(--color-primary);
    text-decoration: none !important;
}
a:hover {
    color: var(--color-primary-dark);
}


/* clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table
}


/* fixed item */
.fixed {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto
}


/* container */
.container {
    width: 90%;

    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container { width: 80%; }
}
@media (min-width: 1280px) {
    .container { width: 72%; }
}
@media (min-width: 1920px) {
    .container { width: 64%; }
}
