
.tag {
	height: 35px;
	display: inline-block;

	padding: 15px;
	padding-top: 6px;
	padding-bottom: 6px;

	border-radius: 6px;
	font-size: 16px;
}
.tag i {
	position: absolute;
	font-size: 24px;
}
.tag span {
	display: block;
	margin-left: 36px;
	margin-top: 6px;
}

.tag-primary {
	color: #ffffff;
	background-color: var(--color-primary);
}
.tag-danger {
	color: #ffffff;
	background-color: var(--color-danger);
}
.tag-warning {
	color: #000000;
	background-color: var(--color-warning);
}
